@model IEnumerable<Odonto20_10.Models.ModelPaciente>

<h2>Listar Pacientes</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexoPaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nmPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPFPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexoPaciente)
        </td>
        <td>
            @Html.ActionLink("Atualizar", "editarPaciente", new { id = item.codPaciente }) |
            @Html.ActionLink("Excluir", "excluirPaciente", new { id = item.codPaciente }, new { onclick = "return confirm('Deseja realmente excluir?');" })
        </td>
    </tr>
}

</table>
